<template>
  <div>
    <v-card v-if="blog.id">
      <v-img
        :src="
          blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'
        "
      >
        <v-card-title class="fill-height align-end" v-text="blog.title">
        </v-card-title>
      </v-img>

      <v-card-text>
        <v-simple-table dense>
          <tbody>
            <tr>
              <td><v-icon>mdi-format-title</v-icon></td>
              <td class="blue--text">{{ blog.title }}</td>
            </tr>
            <tr>
              <td><v-icon>mdi-note</v-icon>Deksripsi</td>
              <td>
                {{ blog.description }}
              </td>
            </tr>
            <tr>
              <v-btn @click="deletethis">Delete</v-btn>
            </tr>
            <tr>
              <v-btn @click="uploadpic">Upload</v-btn>
            </tr>
          </tbody>
        </v-simple-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  data: () => ({
    blog: {},
    apiDomain: "http://demo-api-vue.sanbercloud.com",
  }),

  methods: {
    deletethis() {
      const config = {
        method: "post",
        url: this.apiDomain + "/api/v2/blog/" + this.blog.id,
        params: { _method: "DELETE" },
      };
      this.axios(config)
        .then((response) => {
          console.log(response);
          console.log("success");
          this.setAlert({
            status: true,
            color: "success",
            text: "Blog Berhasil dihapus",
          });
          this.close();
        })
        .catch((response) => {
          console.log("gagal");
          console.log(response);
          this.setAlert({
            status: true,
            color: "error",
            text: "Gagal",
          });
        });
    },
    uploadpic() {},
    go() {
      let { id } = this.$route.params;

      const config = {
        method: "get",
        url: `${this.apiDomain}/api/v2/blog/${id}`,
      };

      this.axios(config)
        .then((response) => {
          let { blog } = response.data;
          // console.log(blog.photo)
          this.blog = blog;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  created() {
    this.go();
  },
};
</script>
