<template>
  <v-container>
    <v-layout justify-center class="mb-4">
      <v-list-item-avatar width="150" height="150">
        <v-img
          :src="
            user.photo_profile
              ? apiDomain + user.photo_profile
              : 'https://randomuser.me/api/portraits/men/94.jpg'
          "
          class="center"
        ></v-img>
      </v-list-item-avatar>
    </v-layout>
    <form color="success">
      <v-text-field v-model="newname" label="Name" color="success"></v-text-field>
      <v-text-field v-model="newemail" label="E-mail" color="success"></v-text-field>
      <!-- <v-file-input
        prepend-icon="mdi-camera"
        label="Change Photo"
        dark
      ></v-file-input> -->

      <v-btn class="mr-4" @click="updateAccount">
        Update
      </v-btn>
    </form>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data: () => ({
    apiDomain: "https://demo-api-vue.sanbercloud.com/",
    newname: "",
    newemail: "",
  }),

  computed: {
    ...mapGetters({
      guest: "auth/guest",
      user: "auth/user",
      token: "auth/token",
    }),
  },

  methods: {
    updateAccount() {
        let formData = new FormData()
        formData.append('name',this.newname)
        formData.append('email',this.newemail)
      const config = {
        method: "post",
        url: this.apiDomain+'api/v2/auth/user',
      };

      this.axios(config)
        .then((response) => {
          console.log(response);
          // let { blogs } = response.data;
          // this.blogs = blogs;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style>
v-list-item-avatar {
  margin-right: auto;
  margin-left: auto;
}
</style>
